h1 {
  color: orange;
  margin-top: 70px;
}

header {
  /*   background: white; */
  display: flex;
  justify-content: center;
  /*     background: #ffcc00 */
}
button {
  border: 2px solid #34495e;
  background-color: #3498db;
  color: white;
}

.container {
  /*   background: orange; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.col-sm {
  margin: 5em;
}
